body {
  font-family: Arial;
  background-color: lightgray;
}
.box {
  width: 300px;
  background-color: white;
  padding: 15px;
  margin: 100px auto;
  border: 1px solid gray;
}
textarea {
  width: 100%;
  height: 100px;
  font-size: 14px;
}
.count {
  margin-top: 10px;
  font-size: 14px;
}
